﻿@model Nop.Plugin.Widgets.GformAdd.Model.PublicInfoModel


<div>
    @{
        var link = Model.FormLink + "?embedded=true";
    }
    <iframe src="@link" width="640" height="1499" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    

</div>